_modules
superset/assets/node_modules
superset/assets/dist
changelog.sh
.DS_Store
.coverage
_static
.eggs
build
dist
superset.egg-info/
app.db
*.bak
.idea

# Node.js, webpack artifacts
*.entry.js
yarn.lock
superset/assets/version_info.json

# IntelliJ
*.iml
superset/app/
superset/__pycache__/
superset/connectors/__pycache__/
superset/connectors/base/__pycache__/
superset/connectors/druid/__pycache__/
superset/connectors/sqla/__pycache__/
superset/data/__pycache__/
superset/migrations/__pycache__/
superset/migrations/versions/__pycache__/
superset/models/__pycache__/
superset/translations/__pycache__/
superset/views/__pycache__/
